{% extends "_common.njk" %}

{% block content %}
<div class="teamemb">
  <div class="card" style="width: 18rem;">
    <img src="https://avatars2.githubusercontent.com/u/46528004?s=460&v=4" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Jamal Rabujev</h5>
      <p class="card-text">Bodyguard and Krav-Maga Master.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
  <img src="https://avatars2.githubusercontent.com/u/33528195?s=460&v=4" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Nabil El Assal</h5>
    <p class="card-text">Big Boss of the society.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://avatars3.githubusercontent.com/u/32648158?s=460&v=4" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Michael Lambrechts</h5>
    <p class="card-text">Expert in Css.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://avatars2.githubusercontent.com/u/46528005?s=460&v=4" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Vadim Radermacher</h5>
    <p class="card-text">Bartender.</p>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://avatars0.githubusercontent.com/u/46527943?s=460&v=4" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lara Loicq</h5>
    <p class="card-text">Designer and mum of the society.</p>
  </div>
</div>
</div>
<div class="rempl">
  </div>

{% endblock %}
